apiVersion: v1
kind: Service
metadata:
  name: {{ include "code-exploration-ui.fullname" . }}
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "code-exploration-ui.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: tcp-port
  selector:
    {{- include "code-exploration-ui.selectorLabels" . | nindent 4 }}
