---

# when deploying helm chart manually don't forget to set image repository
# either use --set image.repository=<repository_url> or
# uncomment lines below and set proper url to image
# image:
#   repository: 000000000000.dkr.ecr.us-east-1.amazonaws.com/epam-systems/add-ons/aitestmate/api

# Customize environment for worker
extraEnv:
  - name: CODEMIE_BASE_URL
    value: https://codemie.example.com/code-assistant-api
  - name: CODEMIE_GET_TOKEN_URL
    value: https://keycloak.codemie.example.com/auth/realms/codemie-prod/protocol/openid-connect/token
  - name: CODEMIE_IGNORE_SSL_ERRORS
    value: "false"
  # The client ID which is used to authenticate its requests to AI/Run CodeMie API
  - name: CODEMIE_CLIENT_ID
    value: aitestmate
  # It is recommended to create a secret for that
  # - name: CODEMIE_CLIENT_ID
  #   valueFrom:
  #     secretKeyRef:
  #       name: aitestmate-codemie-secret
  #       key: id
  # The client secret which is used to authenticate its requests to AI/Run CodeMie API
  - name: CODEMIE_CLIENT_SECRET
    value: xxxx
  # It is recommended to create a secret for that
  # - name: CODEMIE_CLIENT_SECRET
  #   valueFrom:
  #     secretKeyRef:
  #       name: aitestmate-codemie-secret
  #       key: secret

  # The ID of the asymmetric key to used to secure sensitive components of the AI/Run Codemie integration
  - name: CODEMIE_KEY_ID
    value:  00000000-0000-0000-0000-000000000000

  # Custom authorization scheme used by the AI/Run Codemie platform
  - name: CODEMIE_USER_ACCESS_TOKEN_HEADER
    value: X-Auth-Request-Access-Token
  - name: CODEMIE_USER_ACCESS_TOKEN_SCHEME
    value: codemie_custom

  - name: API_AUTH_OPENID_URL_BASE
    value: https://keycloak.codemie.example.com/auth/realms/codemie-prod/protocol/openid-connect/
  - name: API_AUTH_OPENID_METADATA_URL
    value: https://keycloak.codemie.example.com/auth/realms/codemie-prod/.well-known/openid-configuration
  - name: API_AUTH_OPENID_CLIENT_ID
    value: codemie

  # The region of the KMS symmetric key used to encrypt sensitive data in the AI/Run TestMate database
  - name: KMS_LOCATION_ID
    value: us-east-1
  # The ID of the symmetric key used to encrypt sensitive data in the AI/Run TestMate database
  - name: KMS_DEFAULT_KEY_ID
    value: 00000000-0000-0000-0000-000000000000

# Kubernetes service account requires permission to work with KMS keys
# Annotate it with an IAM account
serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::000000000000:role/aitestmate-api-role

# It is recommended to expose AI TestMate via Codemie
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-Access-Token,Authorization
    nginx.ingress.kubernetes.io/auth-signin: https://$host/oauth2/start?rd=$escaped_request_uri
    nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.oauth2-proxy.svc.cluster.local:80/oauth2/auth
    nginx.ingress.kubernetes.io/proxy-body-size: 900m
    nginx.ingress.kubernetes.io/proxy-buffer-size: 64k
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"

  hosts:
    - host: codemie.example.com
      paths:
        - path: /aitestmate/api
          pathType: ImplementationSpecific
        - path: /aitestmate/auth
          pathType: ImplementationSpecific

resources:
  requests:
    cpu: 1000m
    memory: 2Gi
  limits:
    cpu: 2000m
    memory: 2Gi
