---

# when deploying helm chart manually don't forget to set image repository
# either use --set image.repository=<repository_url> or
# uncomment lines below and set proper url to image
# image:
#   repository: 000000000000.dkr.ecr.us-east-1.amazonaws.com/epam-systems/add-ons/aitestmate/nginx

# It is recommended to expose AI TestMate via Codemie
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-Access-Token,Authorization
    nginx.ingress.kubernetes.io/auth-signin: https://$host/oauth2/start?rd=$escaped_request_uri
    nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.oauth2-proxy.svc.cluster.local:80/oauth2/auth
    nginx.ingress.kubernetes.io/proxy-body-size: 900m
    nginx.ingress.kubernetes.io/proxy-buffer-size: 64k
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"

  hosts:
    - host: codemie.example.com
      paths:
        - path: /aitestmate
          pathType: ImplementationSpecific

# Set resources for aitestmate-nginx
resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 200m
    memory: 512Mi
