---

# when deploying helm chart manually don't forget to set image repository
# either use --set image.repository=<repository_url> or
# uncomment lines below and set proper url to image
# image:
#   repository: 000000000000.dkr.ecr.us-east-1.amazonaws.com/epam-systems/add-ons/aitestmate/flower

# Set resources for aitestmate-flower
resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 200m
    memory: 512Mi
