# Default values for redis helm chart
image:
  repository: redis
  tag: "8.2.2"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379

resources:
  limits:
    memory: 2048Mi
    cpu: 500m
  requests:
    memory: 256Mi
    cpu: 50m

persistence:
  size: 1Gi
  accessMode: ReadWriteOnce

replicas: 1

containerPort: 6379
